.footer {
  margin: 40px 0 20px;
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
  background-color: #5fb2b8;
  padding: 40px;
}
.f-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.f-header > p {
  font-size: 58px;
  letter-spacing: -2%;
  text-align: center;
  font-weight: 600;
  color: #ffffff;
}
.fh-mail {
  background-color: #ffffff;
  border-radius: 100px;
  width: 450px;
  height: 57px;
  display: flex;
  align-items: center;
  padding: 2px;
  margin-top: 20px;
}
.fh-mail > input {
  color: #1e1e1e;
  border: none;
  outline: none;
  padding: 0px 20px;
  font-size: 16px;
  width: 100%;
}
.fh-mail > input::placeholder {
  color: #1e1e1e;
}
.fh-mail > a {
  background-color: #222222;
  color: #fff;
  text-decoration: none;
  border-radius: 50px;
  height: 53px;
  width: 200px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.f-content {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
}
.f-content > .fc-box:nth-child(1) {
  width: 329px;
}
.f-content > .fc-box {
  width: 239px;
  margin: 0 20px;
}
.f-content > .fc-box:nth-child(1) > img {
  width: 184px;
}
.f-content > .fc-box:nth-child(1) > p {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  line-height: 180%;
  margin: 20px 0;
}

.fc-box > p:nth-child(1) {
  color: #ffffff;
  font-size: 16px;
  font-weight: 800;
  opacity: 80%;
  letter-spacing: -2%;
  margin-bottom: 20px;
}
.fc-location {
  display: flex;
  margin-bottom: 20px;
}
.fc-location > a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  flex: 1;
  line-height: 20px;
}
.ft-time,
.ff-mail,
.ff-conatct {
  display: flex;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #fff;
}
.ff-mail > a,
.ff-conatct > a {
  color: #fff;
  text-decoration: none;
}
.f-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  color: #fff;
}
.fb-menu {
  display: flex;
  align-items: center;
}
.fb-menu > a {
  margin-right: 30px;
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  .footer {
    padding: 40px 20px;
  }
  .f-header > p {
    font-size: 30px;
  }
  .fh-mail {
    width: 100%;
  }
  .f-content {
    display: block;
    padding: 0;
  }
  .f-content > .fc-box {
    width: 100%;
    margin: 0 0px;
  }
  .fc-box > p:nth-child(1) {
    margin-top: 50px;
  }
  .f-bar > .fb-menu {
    display: none;
  }
  .f-content > .fc-box:nth-child(1) > img {
    width: 100px;
  }
}
