.home-faq {
  margin: 40px 0;
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
  height: calc(100vh - 40px);
  background-image: url("../../../assets/faq-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px;
}
.home-faq > p:nth-child(1) {
  font-size: 40px;
  color: #222222;
  font-weight: 600;
  margin-bottom: 10px;
}
.home-faq > p:nth-child(2) {
  font-size: 20px;
  color: #222222;
}
.hf-faq-section {
  margin: 40px 0;
  height: 85%;
  background-color: #ffffff;
  width: 50%;
  border-radius: 12.24px;
  box-shadow: 0px 3.4px 10.88px 0px #080f340f;
  padding: 40px;
  overflow: auto;
}
.hf-faq-section::-webkit-scrollbar {
  width: 0;
}

.hffs-question {
  margin-bottom: 20px;
  padding: 20px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  position: relative;
  transition: 0.3s ease;
}

.hffs-question {
  display: flex;
  justify-content: space-between;
  width: 100%;
  user-select: none;
}

.hffs-question.open {
  color: #4a3aff;
}

.hfq-qna p:nth-child(1){
    font-size: 20px;
}

.hfq-qna p:nth-child(2) {
  margin-top: 10px;
  color: #6f6c90;
  font-size: 16px;
}

.hffs-question .hfq-close {
  display: none;
}

/* Hide plus icon when open */
.hffs-question.open .hfq-open {
  display: none;
}

/* Show minus icon when open */
.hffs-question.open .hfq-close {
  display: block;
}
